<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
            include ../public/style.css
        title Todo List
    body
    div#todo-table
    h1.header To Do List
        form(method='POST' action='/')
            input(type='text' name='title' placeholder='Add new todo...')
            button(type='submit').btn#add Add
        ul
            -for(let todo of todos)
                li
                    span=todo.title
                    form(action=`/edit/${todo._id}` method='get')
                        button(type='submit').btn Edit
                    form(action=`/${todo._id}?_method=DELETE` method='post')
                        button(type='submit').btn#delete Delete