h1 ul {
  display: flex;
  flex-direction: column;
  /* list-style-type: disc; */
}

li {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
}

li a, button{
  margin-left: 3px;
}

